

$primary-color-dark: #d32f2f;
$primary-color: #f44336;
$primary-color-light: #ffcdd2;
$primary-color-text: #ffffff;
$accent-color: #ff4081;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$divider-color: #bdbdbd;
