html, 
body, 
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

.img {
  height: 3rem;
}
.header {
  background-color: rgb(200,20,55);
  color: #fff;
  height: 95vh;
  @include flex-col-center;
  justify-content: center;
}

.header-title {
  font-size: 8rem;
  text-align: center;
}