html, 
body, 
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}


.parent{
  font-size: 10px;
}

.px-size{
  font-size: 10px;
}

.rem-size{
  font-size: 1rem;
}

.em-size {
  font-size: 1em;
}


img {
  height: 25rem;
  padding: 4px;
  margin: 0px auto;
  border-radius: 7%;
}
.header {
  background-color: rgb(200,60,55);
  color: #fff;
  height: 32vh;
  margin: 0px auto;
  padding: 25px;
  text-align: center;
  font-size: 12rem;
  font-family: 'Oswald', sans-serif;
  border-bottom: 5px solid black;
}

.header-by {
  padding: 15px;
  margin: 0px auto;
  font-size: 4.5rem;
}

.parent1 {
  font-size: 30px;
  display: flex;
  flex-direction: row;
  flex: 200px;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  padding: 30px;
  margin: 0px auto;
  align-items: center;

}

.parent2 {
  font-size: 30px;
  display: flex;
  flex-direction: row;
  flex: 200px;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  padding: 30px;
  margin: 0px auto;
  align-items: center;
}

.parent3 {
  font-size: 30px;
  display: flex;
  flex-direction: row;
  flex: 200px;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  padding: 30px;
  margin: 0px auto;
  align-items: center;
}

.child-1 {
  border: 3px solid black;
  padding: 10px;
  margin: 10px auto;
  background-color: indianred;
  border-radius: 7%;
  box-shadow: 15px 5px 5px black;

}

.child-2 {
  border: 3px solid black;
  padding: 10px;
  margin: 10px auto;
  background-color: indianred;
  border-radius: 7%;
  box-shadow: 15px 5px 5px black;
}

.child-3 {
  border: 3px solid black;
  padding: 10px;
  margin: 10px auto;
  background-color: indianred;
  border-radius: 7%;
  box-shadow: 15px 5px 5px black;
}

.img-row1 {
  border: 2px solid white ;
  border-radius: 7%;
}

.img-row2 {
  border: 2px solid white ;
  border-radius: 7%;
}

.img-row3 {
  border: 2px solid white ;
  border-radius: 7%;
}

.description {
  font-size: 12px;
}